/*****TABLES******/
h2{
    margin-bottom: 15px;
}

.top{
    display: flex;
    justify-content: space-between;
}
.top button{
    height: 35px;
    font-size: 15px;
    font-weight: 300;
    color: white;
    border: 0;
    border-radius: 3px;
    transition: 0.2s;
}
.top button:hover{
    opacity: 0.8;
}
.btn-convert{
    background: rgb(23, 164, 77);
}
.btn-delete{
    background: rgb(254, 58, 58);
}

.controls{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
}
.controls i{
    margin-right: 10px;
}
.controls a{
    margin-left: 20px;
    background: none;
    border: none;
    color: rgb(48, 48, 48);
    text-decoration: none;
    transition: 0.15s;
}
.controls .filter-all:hover{
    border-bottom: 3px solid rgba(0,113,156,1);
    color: rgba(0,113,156,1);
}
.controls .filter-rejected:hover{
    border-bottom: 3px solid rgb(254, 58, 58);
    color: rgb(254, 58, 58);
}
.controls .filter-pending:hover{
    border-bottom: 3px solid rgba(0,113,156,1);
    color: rgba(0,113,156,1);
}
.controls .filter-accepted:hover{
    border-bottom: 3px solid rgb(23, 164, 77);
    color: rgb(23, 164, 77);
}

.controls .filter-all.active{
    border-bottom: 3px solid rgba(0,113,156,1);
    color: rgba(0,113,156,1);
}
.controls .filter-rejected.active{
    border-bottom: 3px solid rgb(254, 58, 58);
    color: rgb(254, 58, 58);
}
.controls .filter-pending.active{
    border-bottom: 3px solid rgba(0,113,156,1);
    color: rgba(0,113,156,1);
}
.controls .filter-accepted.active{
    border-bottom: 3px solid rgb(23, 164, 77);
    color: rgb(23, 164, 77);
}


table{
    margin-top: 20px;
    border-collapse: collapse;
    font-size: 1em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    width: 100%;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
}
thead tr{
    background-color: #3b80ef;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
th,td{
    padding: 12px 15px;
}

.Accepted{
    padding: 8px;
    border-radius: 5px;
    color: white;
    background-color: rgb(23, 164, 77);
}
.Rejected{
    padding: 8px;
    border-radius: 5px;
    color: white;
    background: rgb(254, 58, 58);
}
.Pending{
    padding: 8px;
    border-radius: 5px;
    color: white;
    background: rgb(172, 172, 172);
}

tbody tr{
    border-bottom: 1px solid #dddddd;

    transition: 0.2s;
}

tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
tbody tr:last-of-type{
    border-bottom: 2px solid rgb(233, 233, 233);
}

td:first-child{
    font-weight: bold;
}

table a{
    color: #0321cb;
    text-decoration: none;
    transition: color 0.5s ease;
}
table a:hover{
    color: #43a1ff;
}