@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

body{
    margin: 0;

    background: rgb(193, 238, 255);
    background-image: url('../../resources/loginBG.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, p{
    margin: 0;
}

a, button{
    cursor: pointer;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    width: 800px;
}

form{
    background-color: white;
    width: 100%;
    padding: 30px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    border-top: 5px solid rgba(0,113,156,1);
}

header{
    text-align: center;
    margin-bottom: 18px;
    font-size: 15px;
    font-weight: bold;
}

img{
    width: 100px;
}

label{
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.required{
    color: red;
}
.error{
    color: red;
    display: flex;
    align-items: center;
    margin-top: 3px;
    margin-bottom: 15px;
}

.error .material-icons{
    margin-right: 5px;
    font-size: 18px;
}

input, select{
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: 1px solid rgb(214, 214, 214);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.16);
    color: #4A4A4A;

    outline-color: rgba(0,113,156,1);
}
option{
    background-color: white;
    height: 45px;
}
textarea{
    width: 90%;
    height: 90px;
    margin-bottom: 15px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: 1px solid rgb(214, 214, 214);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.16);
    color: #4A4A4A;
    outline-color: rgba(0,113,156,1);
    resize: vertical;
}

.name{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
}

#initial{
    width: 100px;
}
.contact{
    margin: 10px 25px;
}
hr{
    margin-top: 10px;
}


.controls{
    background-color: rgb(233, 233, 233);

    height: 60px;
    padding: 20px;
    border-radius: 5px;

    grid-column: span 2; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.msg{
    width: 85%;
}
.fail{
    background-color: rgb(255, 97, 97);
    color: white;
}
button{
    width: 150px;
    height: 50px;

    outline: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    background: linear-gradient(90deg, rgb(38, 117, 219) 0%, rgb(0, 62, 87) 100%);
    color: #fff;
    border-radius: 4px;
    font-size: 14px;

    transition: 0.3s;
}
button:hover{
    box-shadow: 3px 3px 0 rgb(223, 223, 223);
}
button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}
.loading{
    fill: white;
}

.hide{
    display: none;
}

dialog{
    max-width: 500px;
    border: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

dialog::backdrop{
    background: linear-gradient(90deg, rgba(7,12,41,1) 0%, rgba(58,125,132,1) 50%, rgba(37,103,151,1) 100%);
    opacity: 0.5;
}
dialog button{
    background: rgb(38, 117, 219);
    color: white;
    font-weight: bold;
    width: 100px;
    height: 30px;
    border-radius: 4px;
    border: 0;
    margin-top: 10px;
}

@media screen and (max-width: 600px){
    body{
        background: white;
    }
    
    .name{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0;
    }

    main{
        margin: 0;
        width: 100%;
    }
    
    form{
        padding: 50px;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0);
    }
}