/*****TABLES******/
h2{
    margin-bottom: 15px;
}

.controls{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
}
.controls i{
    margin-right: 10px;
}
.controls a{
    margin-left: 20px;
    background: none;
    border: none;
    color: rgb(48, 48, 48);
    text-decoration: none;
    transition: 0.15s;
}
.controls .filter-all:hover{
    border-bottom: 3px solid rgba(0,113,156,1);
    color: rgba(0,113,156,1);
}
.controls .filter-rejected:hover{
    border-bottom: 3px solid rgb(235, 76, 76);
    color: rgb(235, 76, 76);
}
.controls .filter-pending:hover{
    border-bottom: 3px solid rgba(0,113,156,1);
    color: rgba(0,113,156,1);
}
.controls .filter-accepted:hover{
    border-bottom: 3px solid rgb(0, 156, 13);
    color: rgb(0, 156, 13);
}

.controls .filter-all.active{
    border-bottom: 3px solid rgba(0,113,156,1);
    color: rgba(0,113,156,1);
}
.controls .filter-rejected.active{
    border-bottom: 3px solid rgb(235, 76, 76);
    color: rgb(235, 76, 76);
}
.controls .filter-pending.active{
    border-bottom: 3px solid rgba(0,113,156,1);
    color: rgba(0,113,156,1);
}
.controls .filter-accepted.active{
    border-bottom: 3px solid rgb(0, 156, 13);
    color: rgb(0, 156, 13);
}


table{
    margin-top: 20px;
    border-collapse: collapse;
    font-size: 1em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    width: 100%;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
}
thead tr{
    background-color: rgb(233, 233, 233);
    color: black;
    font-weight: bold;
}
th,td{
    padding: 12px 15px;
}

.Accepted{
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: rgb(41, 172, 41);
}
.Rejected{
    padding: 5px;
    border-radius: 5px;
    color: white;
    background: rgb(68, 68, 68);
}
.Pending{
    padding: 5px;
    border-radius: 5px;
    color: white;
    background: rgb(221, 66, 66);
}

tbody tr{
    border-bottom: 1px solid #dddddd;

    transition: 0.2s;
}

tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
tbody tr:last-of-type{
    border-bottom: 2px solid rgb(233, 233, 233);
}

td:first-child{
    font-weight: bold;
}

table a{
    color: rgb(89, 86, 255);

}