label{
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
span{
    color: red;
}

input{
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: 1px solid rgb(214, 214, 214);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.16);
    color: #4A4A4A;

    outline-color: rgba(0,113,156,1);
}
#date, #time, #location, #notice-id{
    max-width: 300px;
}
input:disabled{
    background-color: #f2f2f2;
    color: #999999;
    cursor: not-allowed;
}

textarea{
    width: 90%;
    height: 90px;
    margin-bottom: 15px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: 1px solid rgb(214, 214, 214);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.16);
    color: #4A4A4A;
    outline-color: rgba(0,113,156,1);
    resize: vertical;
}
button{
    width: 120px;
    height: 35px;
    color: white;
    background-color: rgb(38, 117, 219);
    border: 0;

    transition: 0.2s;
}
button:hover{
    background-color: rgb(22, 86, 170);
}

.error{
    color: red;
    display: flex;
    align-items: center;
    margin-top: 3px;
    margin-bottom: 15px;
}

.error .material-icons{
    margin-right: 5px;
    font-size: 18px;
}