/* Global styles */

  .mainContent {
    max-width: 1300px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 10px;
    background-color: rgb(233, 233, 233);
    box-shadow: 0 0 5px rgb(184, 184, 184);
  }
  
  h1, h2, h3, h4, h5, p {
    margin: 0;
  }
  
  a, button {
    cursor: pointer;
  }
  
  /* Header */
  header {
    text-align: center;
    margin-bottom: 25px;
  }
  header img {
    width: 150px;
  }
  header h1 {
    font-size: 30px;
  }
  
  /* View buttons */
  .title {
    text-align: center;
    margin-bottom: 20px;
  }
  .mainContent section {
    margin-bottom: 25px;
  }
  
  .views, .filters {
    text-align: center;
  }
  .views button, .filters button, .download button {
    margin: 0 5px;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    border: 0;
    box-shadow: 0 0 15px rgb(175, 175, 175);
    margin-bottom: 15px;
    transition: background-color 0.8s;
  }
  .views button, .download button {
    font-weight: bold;
    background-color: rgb(59, 128, 239);
  }
  .views button:hover, .download button:hover {
    background-color:  rgb(22, 86, 170);
  }
  .filters .off {
    background-color: rgb(59, 128, 239);
  }
  .filters .off:hover {
    background-color: rgb(22, 86, 170);
  }
  .filters .on {
    background-color: rgb(22, 86, 170);
  }
  .filters .on:hover {
    background-color: rgb(59, 128, 239);
  }

  #download {
    text-align: center;
  }
   
  .views button:hover {
    background-color:  rgb(22, 86, 170);
  }
  #results {
    text-align: center;
  }
  #results .container {
    padding: 30px 40px 10px 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  /* Table */
  table {
    margin-top: 20px;
    min-width: 400px;
    width: 90%;
    font-size: 16px;
    font-weight: 500;
    border-collapse: collapse;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: left;
  }
  thead tr {
    background-color:  rgb(22, 86, 170);
    color: white;
    font-weight: bold;
  }
  th, td {
    padding: 12px 15px;
  }
  tbody tr {
    border-bottom: 1px solid #dddddd;
    transition: font-weight 0.2s, color 0.2s;
  }
  tbody tr:hover {
    font-weight: bold;
    background-color:  rgb(22, 86, 170);
  }
  tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }

/*MODAL*/
.modaltitle, .modalplease, .reportType, .reportColumns{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.confirm {
  margin-right: 30px;
}

.confirmclose {
  text-align: center;
  margin-top: 10px;
}

.confirmclose button {
  font-weight: bold;
  background-color: rgb(59, 128, 239);
  width: 120px;
  height: 40px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  border: 0;
  box-shadow: 0 0 15px rgb(175, 175, 175);
  margin-top: 15px;
  margin-bottom: 15px;
  transition: background-color 0.8s;
}

.confirmclose button:hover {
  background-color:  rgb(22, 86, 170);
}