.notice-title{
    color: rgb(38, 117, 219);
    font-size: 30px;
    margin-bottom: 3px;
}
.author{
    font-size: 18px;
}
.post-date{
    font-size: 16px;
}

.content h2{
    margin-top: 15px;
    font-size: 25px;
}
.content h3{
    font-size: 18px;
}
.content p{
    margin-bottom: 15px;
}